<div class="product__tile">
    <div class="product__division product__one">
        <app-bank [product]=product></app-bank>
    </div>

    <div class="product__division product__two">
        <app-characteristics [product]=product></app-characteristics>
    </div>

    <div class="product__division product__three">
        <app-instalment [product]=product></app-instalment>
    </div>

    <div class="product__division product__four">
        <app-rate [product]=product></app-rate>
    </div>
</div>